{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}


{% block banner_slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="no img">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="no img">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="no img">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b4jpg' %}" class="d-block w-100" alt="no img">
    </div>
  </div>
</div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

{% endblock banner_slider %}

{% block main-content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row container">
        <p class="fs-4 text-center">Welcome to our Shoe Shoppy!, your ultimate destination for premium footwear. Our shop offers a diverse range of shoes to suit every occasion,
          from casual outings to formal events.Our collection includes top brands and the latest trends, ensuring you always step out in confidence.
          At Shoe Shoppy!, customer satisfaction is our top priority.Visit us today and experience unparalleled service and an exceptional selection of shoes for the whole family.</p>
     </div>
     <br><br>
     <h2 class="text-center">Mission</h2>
     <br>
     <div class="row container">
        <p class="fs-4 text-center">At Shoe Shoppy!, our mission is to provide high-quality, stylish, and comfortable footwear for every occasion. We are dedicated to exceptional customer service, ensuring every customer finds their perfect pair.
        </p>

     </div>
</div>
<br><br><br>


{% endblock main-content %}

